@tailwind base;
@tailwind components;
@tailwind utilities;

.h1r {
  @apply font-poppins font-semibold xl:text-[64px] leading-[150%] max-md:text-[24px] lg:text-[48px]
}

.h2r {
  @apply font-poppins font-semibold xl:text-[48px] leading-[150%] max-md:text-[18px] lg:text-[32px]
}

.h2r2 {
  @apply font-poppins font-semibold text-[48px] leading-[150%] max-md:text-[32px]
}

.h3r {
  @apply font-poppins font-semibold text-[32px] leading-[150%] max-md:text-[16px]
}

.h1 {
  @apply font-poppins font-semibold text-[64px] leading-[150%]
}

.h2 {
  @apply font-poppins font-semibold text-[48px] leading-[150%]
}

.h3 {
  @apply font-poppins font-semibold text-[32px] leading-[150%]
}

.h4 {
  @apply font-poppins font-semibold text-[24px] leading-[150%]
}

.h4r2 {
  @apply font-poppins font-semibold text-[24px] leading-[150%] 
  max-md:font-montserrat max-md:text-[16px] max-md:leading-[125%]
}

.h5 {
  @apply font-poppins font-semibold text-[18px] leading-[150%]
}

.h6 {
  @apply font-poppins font-semibold text-[16px] leading-[150%]
}


.p1b {
  @apply font-montserrat font-medium text-[16px] leading-[125%]
}

.p1r {
  @apply font-montserrat font-normal text-[16px] leading-[125%]
}

.p2b {
  @apply font-montserrat font-medium text-[14px] leading-[125%]
}

.p2r {
  @apply font-montserrat font-normal text-[14px] leading-[125%]
}

.p3b {
  @apply font-montserrat font-medium text-[12px] leading-[125%]
}

.p3r {
  @apply font-montserrat font-normal text-[12px] leading-[125%]
}

.l1b {
  @apply font-poppins font-semibold text-[16px] leading-[150%]
}

.l1r {
  @apply font-poppins font-normal text-[16px] leading-[150%]
}

.l2b {
  @apply font-poppins font-semibold text-[14px] leading-[150%]
}

.l2r {
  @apply font-poppins font-normal text-[14px] leading-[150%]
}

.l3b {
  @apply font-poppins font-semibold text-[12px] leading-[150%]
}

.l3r {
  @apply font-poppins font-normal text-[12px] leading-[150%]
}

.l3b2 {
  @apply font-poppins font-semibold text-[12px] leading-[150%]
  max-md:font-normal max-md:text-[12px] max-md:leading-[125%]
}


/* Prevent text selection */
.no-select {
  user-select: none;
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
